{% extends 'common.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}
    {% if mode == 'delete' %}
    <title>削除完了</title>
    {% elif mode == 'create' %}
    <title>作成完了</title>
    {% else %}
    <title>編集完了</title>
    {% endif %}
{% endblock %}

{% block content %}
    {% if mode == 'delete' %}
    <h1>削除完了</h1>
    <p>投稿が削除されました。</p>
    {% elif mode == 'create' %}
    <h1>作成完了</h1>
    <p>新しい投稿が作成されました。</p>
    {% else %}
    <h1>編集完了</h1>
    <p>投稿が編集されました。</p>
    {% endif %}
    <p>{{ mode }}: {{ post.title }}</p>
    <p>今日の言葉: {{ post.todayWord|linebreaksbr }}</p>
    <p>画像URL: <img src="{% static '/img/'|add:post.imgUrl %}" alt="Image"></p>
    <a href="{% url 'my_area:top' %}">投稿一覧に戻る</a>
{% endblock %}