{% extends 'common.html' %}
<!DOCTYPE html>
{% block title %}
<title>削除確認</title>
{% endblock %}
{% block content %}
    <h1>削除確認</h1>
    <p>本当にこの投稿を削除しますか？</p>
    <p>タイトル: {{ form.title }}</p>
    <p>今日の言葉: {{ form.todayWord }}</p>
    <p>画像URL: <img src="{{ post.imgUrl }}" alt="Image"></p>
    <form method="post" action="{% url 'my_area:complete_delete' post_id=post.id %}">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ post.title }}">
        <input type="hidden" name="todayWord" value="{{ post.todayWord }}">
        <input type="hidden" name="imgUrl" value="{{ post.imgUrl }}">
        <input type="hidden" name="id" value="{{ post.id }}">
        <button type="submit">削除する</button>
        <a href="{% url 'my_area:detail' post_id=post.id %}">キャンセル</a>
    </form>
{% endblock %}