{% extends 'common.html' %}
{% load static %}
<!DOCTYPE html>
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/confirm.css' %}">
{% endblock %}
{% block title %}
    {% if mode == 'delete' %}
    <title>削除確認</title>
    {% elif mode == 'create' %}
    <title>作成確認</title>
    {% else %}
    <title>編集確認</title>
    {% endif %}
{% endblock %}
{% block content %}
    {% if mode == 'delete' %}
    <h1>削除確認</h1>
    {% elif mode == 'create' %}
    <h1>作成確認</h1>
    {% else %}
    <h1>編集確認</h1>
    {% endif %}
    <h2>タイトル: {{ post.title }}</h2>
    <div id="detail-content">
        <div id="detail-text">{{ post.todayWord|linebreaksbr }}</div>
        <div id="detail-img">
            {% if post.imgUrlChange == 'true' %}
            <img src="{% static '/img/temp/'|add:post.imgUrl %}" alt="Image">
            {% elif post.imgUrl %}
            <img src="{% static '/img/'|add:post.imgUrl %}" alt="Image">
            {% else %}
            <img src="{% static '/img/noimage_edit.jpg' %}" alt="Image">
            {% endif %}
        </div>
    </div>
    {% if mode == 'delete' %}
    <form method="post" action="{% url 'my_area:complete_delete' post_id=post.id %}">
    {% elif mode == 'create' %}
    <form method="post" action="{% url 'my_area:complete_create' %}">
    {% else %}
    <form method="post" action="{% url 'my_area:complete_edit' post_id=post.id %}">
    {% endif %}
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ post.title }}">
        <input type="hidden" name="todayWord" value="{{ post.todayWord }}">
        {% if post.imgUrl %}
        <input type="hidden" name="imgUrl" value="{{ post.imgUrl }}">
        {% endif %}
        <input type="hidden" name="imgUrlChange" value="{{ post.imgUrlChange }}">
        <input type="hidden" name="id" value="{{ post.id }}">
        <div id="save">
            {% if mode == 'delete' %}
            <button id="save-button" type="submit">削除する</button>
            {% elif mode == 'create' %}
            <button id="save-button" type="submit">作成を確定する</button>
            {% else %}
            <button id="save-button" type="submit">編集を確定する</button>
            {% endif %}
        </div>
    </form>
{% endblock %}