{% extends 'common.html' %}
{% load static %}
<!DOCTYPE html>
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}">
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/edit.js' %}"></script>
{% endblock %}
{% block title %}
<title>投稿編集</title>
{% endblock %}
{% block content %}
    <h1>投稿編集</h1>
    {% if mode == 'edit' %}
    <form method="post" action="{% url 'my_area:confirm_edit' post_id=post.id %}" enctype="multipart/form-data">
    {% else %}
    <form method="post" action="{% url 'my_area:confirm_create' %}" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        <div id="title_area">
            <label id="title_label" for="id_title">タイトル</label>
            <input type="text" name="title" id="title_text" value="{{ post.title }}">
        </div>
        <div id="detail-content">
            <div id="text_area">
                <label id="text_label" for="id_title">本文</label>
                <textarea name="todayWord" id="text_text">{{ post.todayWord }}</textarea>
            </div>
            <div id="detail-img">
                <label id="img_label" for="id_imgUrl">画像</label>
                <input id="form-img" type="hidden" name="imgUrl" value="{{post.imgUrl}}">
                <input id="form-img-change" type="hidden" name="imgUrlChange" value="false">
                <input type="file" id="id_imgUrl">
                <div id="image-display">
                    {% if post.imgUrl %}
                    <img id="content-img" src="{% static '/img/'|add:post.imgUrl %}" alt="Image">
                    {% else %}
                    <img id="content-img" src="{% static '/img/noimage_edit.jpg' %}" alt="Image">
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="save">
            {% if mode == 'edit' %}
            <button id="save-button" type="submit">変更を保存</button>
            <a id="return-btn" href="{% url 'my_area:detail' post_id=post.id %}">投稿詳細に戻る</a>
            {% else %}
            <button id="save-button" type="submit">投稿を作成</button>
            <a id="return-btn"  href="{% url 'my_area:top' %}">投稿一覧に戻る</a>
            {% endif %}
        </div>
    </form>
{% endblock %}