{% extends 'game_common/common.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}
<title>トップページ</title>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.min.js"></script>
<script src="https://unpkg.com/ml5@0.6.0/dist/ml5.min.js"></script>
<script src="{% static 'js/gametop.js' %}"></script>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gametop.css' %}">
{% endblock %}
{% block content %}
<h1>ここからはゲームエリアだ</h1>
<p>ようこそ、トップページへ！</p>
<div id="select_zero_or_one" class="game-contents">
    <p>コンピューターと意思疎通!さあ、0か1か?!</p>
    <div id="btn-area">
        <button id="zero" class="btn">0</button>
        <button id="one" class="btn">1</button>
    </div>
    <div id="comment"></div>
    <p id="result"></p>
</div>
<div id="sketch-number" class="game-contents">
    <div class="sketch-head">数字を書いて<span id="button-area"></span></div>
    <div id="sketch-area">
        <div id="canvas"></div>
    </div>
    <div id="result">
        <img id="result-img">
    </div>
    <div id="result-text"></div>
</div>
<div id="sketch-number" class="game-contents">
    <div id="result-list"></div>
    <button id="execute">実行</button>
</div>
<!-- <div class="game-contents">
</div> -->
{% endblock %}