#detail-content {
    width: 100%;
}

#detail-text {
    float: left;
    width: 70%;
}

#detail-img {
    float: left;
    width: 30%;
}

#detail-img > img {
    width: 100%;
}

#save #save-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2em;
    font-size: 1.2em;
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color: #00ffdd;
    color: #000;
    cursor: pointer;
}

#return-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width: 20%;
    height: 2.5em;
    font-size: 1.2em;
    border: 0px solid #000000;
    border-radius: 5px;
    background-color: #00ff0d;
    color: #000;
    cursor: pointer;
}