#detail-content {
    width: 100%;
}

#title_area {
    position: relative;
    width: 100%;
}

#title_area #title_label {
    display: inline-block;
    position: relative;
    width: 20%;
}

#title_area #title_text {
    position: relative;
    width: 100%;
    height: 1.8em;
    border: 0px solid #ccc;
    border-radius: 5px;
    font-size: 1.4em;
}

#text_area {
    position: relative;
    margin-top: 1.5em;
    float: left;
    width: 70%;
}

#text_area #text_label {
    display: inline-block;
    position: relative;
    width: 20%;
}

#text_area #text_text {
    position: relative;
    width: 96%;
    height: 300px;
    border: 0px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
}

#detail-img {
    position: relative;
    float: left;
    width: 30%;
    height: 300px;
    margin-top: 1.5em;
}

#detail-img:hover {
    cursor: pointer;
}

#detail-img:hover #content-img {
    opacity: 0.5;
}

#detail-img #img_label {
    display: inline-block;
    position: relative;
    width: 100%;
}

#detail-img > img {
    width: 100%;
}

#image-display, #image-display > img {
    width: 100%;
    height: 300px;       /* 高さも設定したげる */
    object-fit: contain; /* 画像のアスペクト比を保持したまま、指定したサイズに収まるように表示 */
}

#save {	
    clear: left; /* float: leftをおわらせるために必要 */
}

#save #save-button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2em;
    font-size: 1.2em;
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color: #00ffdd;
    color: #000;
    cursor: pointer;
}

#id_imgUrl {
    display: none;
}