

.post_list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.post_list .post_cassette {
    position: relative;
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    background-color: #8AE043;
    border-radius: 10px;
}

.post_list .post_cassette .date_title {
    border-bottom: 1px solid #000;
}

.post_list .post_cassette .date_title>span {
    margin-right: 20px;
}

.post_list .post_cassette .date_title>span.post_title {
    font-size: 20px;
    font-weight: bold;
}

.post_list .post_cassette .context_detail {
    margin-top: 5px;
    margin-bottom: 5px;
}